<div class="row">
	<div class="column left">
		<div id="div1" [cdkDropListData]="types" cdkDrag cdkDropList cdkDropListConnectedTo="drop-list" *ngFor="let type of types"
			[cdkDragData]="type">
            <mat-list role="list">
                <div class="{{type.text}}"></div>
            </mat-list>
			<div *cdkDragPlaceholder class="field-placeholder"></div>
		</div>
	</div>
	<div class="column right">

		<div class="dropZone" cdkDropList cdkDropListSortingDisabled="true" id="drop-list" 
        cdkDragBoundary=".dropZone" cdkDrag>
			
		</div>

	</div>
</div>