body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}
.side-nav-container{
    overflow-x: hidden; 
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.side-nav{
    padding: 0px 0px 0px 4px;
    /* width: 30px; */
    user-select: none;
}
.side-nav-content{
    display: flex;
    height: 100%;
    /* align-items: center;
    justify-content: center; */
}
.mat-icon{
    width: 2rem;
  height: 2rem;
  font-size: 20px;
  color: rgb(15, 110, 134);
}
.icon-class{
    /* box-shadow: 0px 0px 2px #888; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777; */
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
}
